body {
    background-color: beige !important;
}

.container {
    background-color: darkseagreen;
    text-align: center;
    width: 100%;
    /*margin: auto;*/
    border: 1px solid black;
}

button {
    font-size: 20px;
    width: 10%;
    text-align: center;
    padding: 15px 20px;
    background-color: aquamarine;
}

.link {
    border-radius: 5px;
}

.planets {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.table-header {
    border: 1px solid blue;
    width: 10%;
    text-align: center;
    font-size: 20px;
}

.modal-open {
    width: 100% !important;
}

.modal {
    display: none;
}

.modal-title {
    float: left;
}

.modal-table {
    border: 1px solid black;
}

.x-button {
    float: right;
    margin-top: 50%
}

#content {
    background-color: aquamarine;
    text-align: center !important;
}

img {
    width: 30px;
}

